<div class="container">

    <main>
        <img id="sadFaceImg"
            src="https://res.cloudinary.com/teepublic/image/private/s--8qE1XIXa--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_000000,e_outline:48/co_000000,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1583649304/production/designs/8367886_0.jpg"
            alt="sad face" />
        <h1>404</h1>
        <h2>Page not found</h2>
    </main>
</div>